/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap');

/* Global */

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0C1428;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url("assets/wall.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.icon {
    aspect-ratio: 1;
    border-radius: 15px;
    transition: all 0.1s ease-out;
    background: gray;
    cursor: pointer;
}

.app-name {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    margin-top: 5px;
}

.logo-large {
    position: absolute;
    width: 200px;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("assets/logo-gray-transparent.png");
    background-position: center center;
    background-size: cover;
    z-index: 0;
    opacity: 40%;
}
.top-bar {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.infobox {
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 25px;
    width: auto;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;

}
.top-bar-text {
    color: white;
    font-size: 14px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#battery {
    margin-right: 15px;
}


/* Mobile */

@media (max-width: 900px) {
    .app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .app {
        width: 90px;
        height: 100px;
    }
    
    .icon {
        width: 80px;
        aspect-ratio: 1;
    }

    .top-bar {
        justify-content: center;
    }

    .taskbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
    }

    .taskbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 95%;
        background-color: rgba(0,0,0,0.4);
        border-radius: 20px;
    }
    #homebutton {
        height: 100%;
        aspect-ratio: 1;
        background-image: url("assets/logo-transparent.png");
        background-position: center center;
        background-size: cover;
        z-index: 0;
        transition: all 0.1s;
    }
    #homebutton:hover {
        transform: translate(0px, -5px) scale(1.1);
        cursor: pointer;
    }
    .searchbar {
        display: none;
    }
    #search-icon {
        display: none;
    }
    .hideicon {
        display: none;
    }
}

/* Tablet/Laptop/PC */

@media (min-width: 900px) {
    .app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        gap: 20px;
        padding-left: 20px;
    }

    .icon:hover {
        transform: scale(1.1, 1.1);
    }

    .taskbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
    }

    .taskbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 75px;
        width: 95%;
        background-color: rgba(0,0,0,0.4);
        border-radius: 20px;
        gap: 20px;
    }

    .tb-icon {
        height: 80%;
        aspect-ratio: 1;
        background: gray;
        border-radius: 15px;
        transition: all 0.1s ease-out;
    }
    .tb-icon:hover {
        transform: translate(0px, -5px) scale(1.1);
        cursor: pointer;
    }

    #homebutton {
        margin-left: 20px;
        height: 100%;
        aspect-ratio: 1;
        background-image: url("assets/logo-transparent.png");
        background-position: center center;
        background-size: cover;
        z-index: 0;
        transition: all 0.1s;
    }
    #homebutton:hover {
        transform: translate(0px, -5px) scale(1.1);
        cursor: pointer;
    }
    .searchbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 150px;
        height: 60%;
        background-color: rgba(45, 45, 45, 0.4);
        border-radius: 25px;
        padding-left: 60px;
        padding-right: 20px;
        border: none;
        outline: none;
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px;
        transition: all 0.5s;
    }
    .searchbar:focus {
        border: solid 2px;
        border-color: rgba(255, 255, 255, 0.7);
    }
    #search-icon {
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        margin-left: 140px;;
    }
    .app {
        width: 110px;
        height: 120px;
    }
    
    .icon {
        width: 90px;
        aspect-ratio: 1;
    }
}

@media (max-width: 800px) {
    #skills-sm {
        display: none;
    }
}

@media (max-width: 885px) {
    #websites-sm {
        display: none;
    }
}

@media (max-width: 885px) {
    #gallery-sm {
        display: none;
    }
}

@media (max-width: 975px) {
    #gallery-sm {
        display: none;
    }
}

@media (max-width: 1052px) {
    #github-sm {
        display: none;
    }
}

@media (max-width: 1140px) {
    #contact-sm {
        display: none;
    }
}

@media (max-height: 500px) {
    .app {
        width: 80px;
        height: 90px;
    }
    
    .icon {
        width: 60px;
        aspect-ratio: 1;
    }
}

@media (max-height: 350px) {
    .app {
        width: 50px;
        height: 60px;
    }
    
    .icon {
        width: 40px;
        aspect-ratio: 1;
    }

    .app-name {
        font-size: 10px;
    }
}

@media (max-height: 350px) {
    .app {
        width: 40px;
        height: 50px;
    }
    
    .icon {
        width: 30px;
        aspect-ratio: 1;
    }

    .app-name {
        font-size: 8px;
    }
}


    /* Icons */

#github, #github-sm{
    background-image: url('assets/github.jpg');
    background-position: center center;
    background-size: cover;
}

#aboutme, #aboutme-sm {
    background-image: url('assets/aboutme.png');
    background-position: center center;
    background-size: cover;
}

#projects, #projects-sm {
    background-image: url('assets/projects.png');
    background-position: center center;
    background-size: cover;
}

#skills, #skills-sm {
    background-image: url('assets/skills.png');
    background-position: center center;
    background-size: cover;
}

#websites, #websites-sm {
    background-image: url('assets/websites.png');
    background-position: center center;
    background-size: cover;
}

#contact, #contact-sm {
    background-image: url('assets/contact.png');
    background-position: center center;
    background-size: cover;
}

#gallery, #gallery-sm {
    background-image: url('assets/gallery.png');
    background-position: center center;
    background-size: cover;
}

#documents, #documents-sm {
    background-image: url('assets/documents.png');
    background-position: center center;
    background-size: cover;
}

#settings, #settings-sm {
    background-image: url('assets/settings.png');
    background-position: center center;
    background-size: cover;
}


