/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap');

/* Global */

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url("assets/wall.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    width: 110px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    width: 90px;
    aspect-ratio: 1;
    background: gray;
    border-radius: 15px;
    transition: all 0.1s ease-out;
}

.app-name {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    margin-top: 5px;
}

/* Mobile */

@media (max-width: 767px) {

    .app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .app {
        width: 100px;
        height: 120px;
    }
}

/* Tablet/Laptop/PC */

@media (min-width: 768px) {

    .app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        gap: 20px;
        padding: 20px;
    }

    .icon:hover {
        transform: scale(1.1, 1.1);
    }
}

/* Icons */

#github {
    background-image: url('assets/github.jpg');
    background-position: center center;
    background-size: cover;
}