/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap');

/* Global */

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0C1428;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#shutdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0; left: 0; right: 0; bottom: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: transform 1s ease, opacity 1s ease;
    background-color: black;
    z-index: 10;
    text-align: center;
}

.oslogo {
    width: 200px;
    aspect-ratio: 1;
    background: url('assets/logo-transparent.png');
    background-position: center center;
    background-size: cover;
}

#shutdown-text {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 25px;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    z-index: 11x;
}

#startup {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0; left: 0; right: 0; bottom: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: black;
    z-index: 30;
    text-align: center;
}

#startup.fade {
    opacity: 0;
}

#startup-text {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 25px;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    z-index: 31x;
    margin-bottom: 60px;
}

.loading-bar {
    width: 250px;
    height: 30px;
    background-color: black;
    border: solid 5px;
    border-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.loading-fill {
    height: 20px;
    background-color: white;
    border-radius: 100px;
    animation: fill 2s linear forwards;
    margin: 5px;
}
@keyframes fill {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}

#login {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0; left: 0; right: 0; bottom: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: transform 1s ease, opacity 1s ease;
    background-color: #0C1428;
    z-index: 20;
}

#login.slide-up {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: translateY(-110%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

#login.fade {
    opacity: 0;
}

#login-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("assets/wall.jpg");
    opacity: 0.3;
    z-index: 22;
    border-radius: 40px;
}

.profile-picture {
    width: 200px;
    aspect-ratio: 1;
    background-image: url("assets/profile.png");
    background-size: 220px;
    background-position: center center;
    margin-bottom: 0px;
    z-index: 23;
    border-radius: 150px;
    border: solid 7px;
    border-color: #313a50;
}

#username {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 25px;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    z-index: 23;
    margin-top: 10px;
}

.start-button {
    width: 150px;
    aspect-ratio: 4;
    background-color: #1c2c57;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    z-index: 23;
    transition: all 0.2s ease;
}

.start-button:hover {
    filter: brightness(1.2);
    scale: 1.15;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.power-button {
    position: absolute;
    background-color: #1c2c57;
    width: 60px;
    aspect-ratio: 1;
    border: none;
    border-radius: 30px;
    right: 20px;
    bottom: 20px;
    transition: all 0.2s ease;
    z-index: 23;
}

.power-button:hover {
    cursor: pointer;
    filter: brightness(1.2);
    scale: 1.15;
}

#shutdown-window {
    animation: fly-in 0.2s forwards;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 250px;
    height: 100px;
    border-radius: 25px;
    background-color: #1c2c57;
    z-index: 40;
}
@keyframes fly-in {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}

#shutdown-window.out {
    animation: fly-out 0.2s forwards;
}
@keyframes fly-out {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}

.alert-text {
    color: white;
    font-size: 18px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.confirm-button {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 50px;
    border: none;
    border-radius: 15px;
    background-color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    transition: all 0.2s ease;
}

.confirm-button:hover {
    scale: 1.1;
    cursor: pointer;
}

#main-content {
    width: 100%;
    height: 100%;
    background-image: url("assets/wall.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transition: all 1s ease;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.icon {
    aspect-ratio: 1;
    border-radius: 15px;
    transition: all 0.1s ease-out;
    background: gray;
    cursor: pointer;
}

.app-name {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    margin-top: 5px;
}

.logo-large {
    position: absolute;
    width: 300px;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("assets/logo-gray-transparent.png");
    background-position: center center;
    background-size: cover;
    z-index: 0;
    opacity: 40%;
}
.top-bar {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.infobox {
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 25px;
    width: auto;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;

}
.top-bar-text {
    color: white;
    font-size: 14px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#battery {
    margin-right: 15px;
}


/* Mobile/Tablet */

@media (max-width: 730px) {
    .app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .app {
        width: 90px;
        height: 100px;
    }
    
    .icon {
        width: 80px;
        aspect-ratio: 1;
    }

    .top-bar {
        justify-content: center;
    }

    .taskbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
    }

    .taskbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 95%;
        background-color: rgba(0,0,0,0.4);
        border-radius: 20px;
    }
    #homebutton {
        height: 100%;
        aspect-ratio: 1;
        background-image: url("assets/logo-transparent.png");
        background-position: center center;
        background-size: cover;
        z-index: 2;
        transition: all 0.1s;
    }
    #homebutton:hover {
        transform: translate(0px, -5px) scale(1.1);
        cursor: pointer;
    }
    .searchbar {
        display: none;
    }
    #search-icon {
        display: none;
    }
    .hideicon {
        display: none;
    }
}

@media (max-width: 350px) {
    .app {
        width: 80px;
        height: 90px;
    }
    
    .icon {
        width: 60px;
        aspect-ratio: 1;
    }
}

@media (max-width: 320px) {
    .app {
        width: 70px;
        height: 80px;
    }
    
    .icon {
        width: 50px;
        aspect-ratio: 1;
    }

    .app-name {
        font-size: 12px;
    }

    .top-bar-text {
        font-size: 10px;
    }
}

/* Tablet/Laptop/PC */

@media (min-width: 730px) {
    .app-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        gap: 20px;
        padding-left: 20px;
    }

    .icon:hover {
        transform: scale(1.1, 1.1);
        filter: brightness(1.2);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    }

    .taskbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
    }

    .taskbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 75px;
        width: 95%;
        background-color: rgba(0,0,0,0.4);
        border-radius: 20px;
        gap: 20px;
    }

    .tb-icon {
        height: 80%;
        aspect-ratio: 1;
        background: gray;
        border-radius: 15px;
        transition: all 0.1s ease-out;
    }
    .tb-icon:hover {
        transform: translate(0px, -5px) scale(1.1);
        filter: brightness(1.2);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    #homebutton {
        margin-left: 20px;
        height: 100%;
        aspect-ratio: 1;
        background-image: url("assets/logo-transparent.png");
        background-position: center center;
        background-size: cover;
        z-index: 2;
        transition: all 0.1s;
    }
    #homebutton:hover {
        transform: translate(0px, -5px) scale(1.1);
        filter: brightness(1.2);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
    .searchbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 150px;
        height: 60%;
        background-color: rgba(45, 45, 45, 0.4);
        border-radius: 25px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        outline: none;
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px;
        transition: all 0.5s;
    }
    .searchbar:focus {
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.7);
    }
    .app {
        width: 110px;
        height: 120px;
    }
    
    .icon {
        width: 90px;
        aspect-ratio: 1;
    }
}

@media (max-height: 600px) {
    .app {
        width: 90px;
        height: 110px;
    }
    
    .icon {
        width: 70px;
        aspect-ratio: 1;
    }

    .app-name {
        font-size: 13px;
    }
}

@media (max-height: 500px) {
    .app {
        width: 80px;
        height: 90px;
    }
    
    .icon {
        width: 60px;
        aspect-ratio: 1;
    }

    .app-name {
        font-size: 12px;
    }
}

@media (max-height: 340px) {
    .app {
        width: 60px;
        height: 70px;
    }
    
    .icon {
        width: 50px;
        aspect-ratio: 1;
    }

    .app-name {
        font-size: 10px;
    }

    .app-grid {
        width: 90%;
    }
}

@media (max-height: 300px) {
    .app {
        width: 50px;
        height: 60px;
    }
    
    .icon {
        width: 40px;
        aspect-ratio: 1;
    }

    .app-name {
        font-size: 8px;
    }
}

@media (max-width: 800px) {
    #skills-sm {
        display: none;
    }
}

@media (max-width: 885px) {
    #websites-sm {
        display: none;
    }
}

@media (max-width: 885px) {
    #gallery-sm {
        display: none;
    }
}

@media (max-width: 975px) {
    #gallery-sm {
        display: none;
    }
}

@media (max-width: 1052px) {
    #github-sm {
        display: none;
    }
}

@media (max-width: 1140px) {
    #contact-sm {
        display: none;
    }
}


    /* Icons */

#github, #github-sm{
    background-image: url('assets/github.jpg');
    background-position: center center;
    background-size: cover;
}

#aboutme, #aboutme-sm {
    background-image: url('assets/aboutme.png');
    background-position: center center;
    background-size: cover;
}

#projects, #projects-sm {
    background-image: url('assets/projects.png');
    background-position: center center;
    background-size: cover;
}

#skills, #skills-sm {
    background-image: url('assets/skills.png');
    background-position: center center;
    background-size: cover;
}

#websites, #websites-sm {
    background-image: url('assets/websites.png');
    background-position: center center;
    background-size: cover;
}

#contact, #contact-sm {
    background-image: url('assets/contact.png');
    background-position: center center;
    background-size: cover;
}

#gallery, #gallery-sm {
    background-image: url('assets/gallery.png');
    background-position: center center;
    background-size: cover;
}

#documents, #documents-sm {
    background-image: url('assets/documents.png');
    background-position: center center;
    background-size: cover;
}

#settings, #settings-sm {
    background-image: url('assets/settings.png');
    background-position: center center;
    background-size: cover;
}


